<div class="absolute-center text-center">
  <h1>Workflow application</h1>
  <p>This application was made for final project of DEVPOOL 2024 by
    <a rel="noopener" target="_blank" href="https://github.com/Kiratopat-s" type="button"
      class="btn btn-outline-primary px-4 ms-2">
      <lucide-angular [size]="24" [img]="icons.Github" class="me-1" /> Kiratipat S.
    </a>
  </p>
  <div class="w-100">
    <div class="list-group w-50">
      <a target="_blank" rel="noopener" href="https://github.com/Kiratopat-s/workflow-app"
        class="list-group-item d-flex justify-content-between align-items-center hover-outline-primary">
        <div><lucide-angular [size]="18" [img]="icons.Bookmark" class="me-1" /> Frontend : Workflow-app</div>
        <span class="badge text-bg-primary rounded-pill">
          <lucide-angular [size]="18" [img]="icons.GitCommit" class="me-1" />{{feCommits}} <span
            class="text-gray-300">commits</span></span>
      </a>
      <a target="_blank" rel="noopener" href="https://github.com/Kiratopat-s/workflow-api"
        class="list-group-item d-flex justify-content-between align-items-center hover-outline-primary">
        <div><lucide-angular [size]="18" [img]="icons.Bookmark" class="me-1" /> Backend : Workflow-api</div>
        <span class="badge text-bg-primary rounded-pill">
          <lucide-angular [size]="18" [img]="icons.GitCommit" class="me-1" />{{beCommits}} <span
            class="text-gray-300">commits</span></span>
      </a>
      <a target="_blank" rel="noopener" href="https://github.com/Kiratopat-s/workflow-final-gateway"
        class="list-group-item d-flex justify-content-between align-items-center hover-outline-primary">
        <div><lucide-angular [size]="18" [img]="icons.Bookmark" class="me-1" /> Gateway : Workflow-final-gateway</div>
        <span class="badge text-bg-primary rounded-pill">
          <lucide-angular [size]="18" [img]="icons.GitCommit" class="me-1" />{{gwCommits}} <span
            class="text-gray-300">commits</span></span>
      </a>
    </div>
  </div>
</div>
