<nav class="navbar navbar-expand-md bg-light">
  <div class="container-fluid">
    <a class="navbar-brand  d-flex align-items-center" routerLink="/">
      <img src="workflow-main.png" alt="logo" width="58" height="60">
      <span>orkflow</span>
    </a>
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        @for (menu of menus; track menu.path) {
        <li class="nav-item">
          <a class="nav-link " [routerLink]="menu.path"><lucide-angular [size]="18" [img]="menu.icon"
              class="me-1"></lucide-angular>{{ menu.title }}</a>
        </li>
        }
      </ul>
    </div>
    <!-- add -->
    @if (authService.loggedInUser; as loggedInUser) {
    <span class="navbar-text">
      <span class="badge text-bg-primary align-middle">
        <lucide-angular [size]="24" [img]="icons.User" class="me-.5"></lucide-angular>
        {{ loggedInUser.userProfile.username }}</span>
      | <span class="badge text-bg-warning align-middle">
        <lucide-angular [size]="24" [img]="icons.IdCard" class="me-.5"></lucide-angular>
        {{loggedInUser.userProfile.role}}</span>
      <button class="btn btn-danger ms-4 align-middle" type="button" (click)="onLogout()">
        <div class="d-flex align-items-center">
          <lucide-angular [size]="24" [img]="icons.Logout" class="me-1"></lucide-angular>
          Logout
        </div>
      </button>
      <!-- <i class="bi bi-box-arrow-in-right " "></i> -->
    </span>
    } @else {
    <button class="btn btn-outline-primary me-2 align-middle" type="button" routerLink="/auth/login">
      <lucide-angular [size]="24" [img]="icons.Login" class="me-.5 "></lucide-angular>
      Login
    </button>
    <button class="btn btn-outline-primary ms-2 align-middle" type="button" (click)="onKeycloakLogin()">
      <lucide-angular [size]="24" [img]="icons.Key" class="me-.5 "></lucide-angular>
      Login by Keycloak
    </button>
    }
  </div>
</nav>
